<a href="https://colab.research.google.com/github/18K41A0479/Assignment-2/blob/master/Untitled16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#1. Area of the triangle.

a=float(input("Enter 1st side:"))  
b=float(input("Enter 2nd side:"))  
c=float(input("Enter 3rd side:"))  
if(a+b>c):
  s=(a+b+c)/2  
  area=(s*(s-a)*(s-b)*(s-c))**(1/2)
  print("Area is= ", round(area,3))
else:
  print("Triangle inot possible")

Enter 1st side:10
Enter 2nd side:15
Enter 3rd side:20
Area is=  72.618

In [9]:
#2. Take a string from end user and check if the value is palindrome or not.

s=input("Enter a string:")
if (s==s[::-1]):
    print("Palindrome")
else:
    print("Not a palindrome")

Enter a string:malayalam
Palindrome

In [11]:
#3.Leap year or not 
year=int(input("Enter the year:"))
if(year%4==0 and year%100!=0 or year%==0):
    print("The entered year" , year,"is leap year")
else:
    print("The entered year",year,"is not a leap year")

Enter the year:2004
The entered year 2004 is leap year

In [15]:
#4. Space to Hyphen problem

string=input("Enter string : ")
print(string.replace(' ','-'))

Enter string : i am studying python
i-am-studying-python

In [19]:

#5. Unique Sort Problem.
string=input("Enter a string: ")
s=string.split()
s.sort()
list(s)
set(s)

Enter a string: banana mango apple

{'apple', 'banana', 'mango'}

In [21]:
#6. Tax Calculator
s=int(input("Enter the salary : "))
if (s>=0) and (s<=250000):
    tax=(s*0)
elif (s>250000) and (s<=500000):
    tax=(s*0.05)
elif (s>500000) and (s<=750000):
    tax=(s*0.1)
elif (s>750000) and (s<=1000000):
    tax=(s*0.15)
elif (s>1000000) and (s<=1250000):
    tax=(s*0.2)
elif (s>1250000) and (s<=1500000):
    tax=(s*0.25)
else:
    tax=(s*0.3)
print("Tax is : ",tax)

Enter the salary : 300000
Tax is :  15000.0

In [22]:
#7. Take a list of integers as an argument, and converts it into a single integer (return the integer).
#   input:[11,33,50]
#   output:113350

List=[11,33,50]
for i in List:
  print(i,end="")

113350

In [24]:
#8.	Units of Time
#Create a program that reads duration from the user as a number of days, hours, minutes, and seconds.
# Compute and display the total number of seconds represented by this duration. 
secpermin=60
secperhour=3600
secperday=86400
days=int(input("Enter Days: "))
hours=int(input("Enter Hours: "))
minutes=int(input("Enter Minutes: "))
seconds=int(input("Enter Seconds: "))
totalsec=days*secperday
totalsec=totalsec+(hours*secperhour)
totalsec=totalsec+(minutes*secpermin)
totalsec=totalsec+seconds
print("Total number of seconds = ","%d"%(totalsec))

Enter Days: 2
Enter Hours: 4
Enter Minutes: 54
Enter Seconds: 55
Total number of seconds =  190495

In [25]:
#9.Sort 3 Integers
# Given three integers (given through user input), sort the numbers using |min| and  |max| functions.

a=int(input("Enter a:"))
b=int(input("Enter b:"))
c=int(input("Enter c:"))
d=min(a,b,c)
e=max(a,b,c)
f=(a+b+c)-d-e
print("The Sorted order is:",d,f,e)

Enter a:20
Enter b:10
Enter c:30
The Sorted order is: 10 20 30

In [27]:
#10.Write a program that reads a date from the user and computes its immediate successor.
#The date is the format YYYY-MM-DD. So, 2020-04-15 will have the successor 2020-04-16.
yr=int(input("Enter year: "))
if yr%400== 0:
    leapyear=True
elif yr%100==0:
    leapyear=False
elif yr%4==0:
    leapyear=True
else:
    leapyear=False
mon=int(input("Enter a month between 1 to 12 : "))
if mon in (1, 3, 5, 7, 8, 10, 12):
    monthlength=31
elif mon==2:
    if leapyear:
        monthlength=29
    else:
        monthlength=28
else:
    monthlength=30
day=int(input("Enter a day between 1 to 31 : "))
if day<monthlength:
    day+=1
else:
    day=1
    if mon==12:
        mon=1
        year+=1
    else:
        mon+=1
print("The immediate successor is YYYY-MM-DD : %d-%d-%d." %(year,mon,day))

Enter year: 2020
Enter a month between 1 to 12 : 4
Enter a day between 1 to 31 : 30
The immediate successor is YYYY-MM-DD : 2004-5-1.

In [30]:
#11.	Compute product of a list of numbers [45 ,3,2,89,72,1,10,7]
#Output: 121111200
List=[45,3,2,89,72,1,10,7]
n=1
for i in range(len(List)):
    n=n*List[i]
print(n)

121111200

In [32]:
#12.	Compute given Num_list =  [5, 6,8 ,34,89,1] to get desired output
#Output: Out_list=[11,14,42,123,90]

l=[5,6,8,34,89,1]
List=[]
for i in range(len(l)-1):
    a=l[i]+l[i+1]
    List.append(a)
print("Out_list=",List)

Out_list= [11, 14, 42, 123, 90]

In [34]:
#13.Compute given Num_tuple =  (5, 6,8 ,3,9,1) to get desired output
#Output: Out_list = [5, 30, 240, 720, 6480, 6480]

n=(5,6,8,3,9,1)
Out_list=[]
Out_list.append(n[0])
for i in range(len(n)-1):
    m=Out_list[i]*n[i+1]
    Out_list.append(m)
print("Out_list=",Out_list)

Out_list= [5, 30, 240, 720, 6480, 6480]

In [37]:
#14.Write a Python code that takes a number and returns a list of its digits. So for 586392 it should return [5,8,6,3,9,2]
num=input("Enter a number: ")
List=[]
for n in range(len(num)):
    List.append(num[n])
print(List)

Enter a number: 586392
['5', '8', '6', '3', '9', '2']

In [43]:
#15.	Write a program that finds the longest palindromic substring of a given string
def longestpalindrome(n):
    d=[[False for i in range(len(n))] for i in range(len(n))]
    for i in range(len(n)):
        d[i][i]=True
    maxlen=1
    start=0
    for j in range(2,len(n)+1):
        for i in range(len(n)-j+1):
            end=i+j
            if j==2:
                if n[i]==n[end-1]:
                    d[i][end-1]=True
                    maxlen=j
                    start=i
            else:
                if n[i]==n[end-1] and d[i+1][end-2]:
                    d[i][end-1]=True
                    maxlen=j
                    start=i
    return n[start:start+maxlen]
n=input("Enter a str: ")
print(longestpalindrome(n))

Enter a str: sanjana
ana

In [44]:
#16.	 Substring Check (Bug Funny)
#Given two binary strings, A (of length 10) and B (of length 5), output 1 if B is a substring of A and 0 otherwise.
#First two lines of input:
#1010110010          10110
#1110111011           10011
#First two lines of output:
#1
#0
str1=input("enter string 1")
str2=input("enter string 2")
if str2 in str1:
  print("1")
else:
  print("0")

enter string 11010110010
enter string 210110
1

In [47]:
#17.	  POUR1 - Pouring water
#Given two vessels, one of which can accommodate a litres of water and the other - b litres of water, determine the number of steps required to obtain exactly c litres of water in one of the vessels.
#At the beginning both vessels are empty. The following operations are counted as 'steps':
#•	emptying a vessel,
#•	filling a vessel,
#•	pouring water from one vessel to the other, without spilling, until one of the vessels is either full or empty.
def gcd(a,b):
    if b==0: 
        return a 
    return gcd(b,a%b) 
def countsteps(a,b,c): 
    v1=b
    v2=0
    count=1
    while ((v1 is not c) and (v2 is not c)): 
        temp=min(v1,a-v2) 
        v2=v2+temp 
        v1=v1-temp 
        count=count+1
        if ((v2==c)or(v1==c)): 
            break
        if v1==0: 
            v1=b 
            count=count+1
        if v2==a: 
            v2=0
            count=count+1
    return count 
def ispossible(a,b,c): 
    if a>b: 
        temp=a 
        a=b 
        b=temp 
    if c>b: 
        return -1
    if (c%(gcd(b,a)) is not 0): 
        return -1
    return(min(countsteps(b,a,c),countsteps(a,b,c)))
t=int(input("Enter no of testcases : "))
for i in range(t):
  a=int(input("Enter capacity of vessel a: "))
  b=int(input("Enter capacity of vessel b: "))
  c=int(input("Enter capacity to be obtained:"))
  print("Minimum number of steps required is : ",ispossible(a,b,c))

Enter no of testcases : 1
Enter capacity of vessel a: 5
Enter capacity of vessel b: 6
Enter capacity to be obtained:6
Minimum number of steps required is :  1